<?xml version="1.0" encoding="utf-8"?>
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xdt:Transform="Replace">
	<root>
		<level value="ALL"/>
		<appender-ref ref="file"/>
		<appender-ref ref="centralized"/>
	</root>
	<appender name="centralized" type="Gelf4net.Appender.GelfHttpAppender, Gelf4Net.HttpAppender">
		<url value="http://NotSet:12201/gelf" />
		<layout type="Gelf4Net.Layout.GelfLayout, Gelf4Net.HttpAppender">
			<param name="AdditionalFields" value="NotSet" />
			<param name="IncludeLocationInformation" value="true" />
			<param name="SendTimeStampAsString" value="false"/>
		</layout>
	</appender>
	<appender name="file" type="log4net.Appender.RollingFileAppender">
		<file value="NotSet" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="NotSet" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %property{CorrelationId} %logger - %message%newline" />
		</layout>
	</appender>
</log4net>